html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}
p {
    margin-right: 2em;
    font-weight: 500;
    font-size: 0.9em;
}
h1 {
    font-size: 2em;
    
}
button#btnContactanos {
    background-color: white;
    border-radius: 30px;
    padding: 0px 1em;
    line-height: 14px;
    margin: 0px 15px;
    font-size: 0.8em;
    border: 2px solid black ;
    height: 2.5em;
    width: 10em;
}

span#labelSumate {
    color: purple;
}

button#btnSumate {
    background-color: white;
    border-radius: 30px;
    padding: 0px 1.5em;
    line-height: 14px;
    font-size: 0.8em;
    border: 2px solid purple ;
    height: 2.5em;
    width: 8em;
}

div#introduction-actions {
    display: flex;
    justify-content: center;
    padding: 1em;
    font-weight: 400;
}

div#introduction #introduction-text #text{
    margin: 0px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    text-align: center;
    display: block;
    padding: 40px 320px;
    font-size: 1.9em;
}

div#navbar {
    border-bottom: 1px solid gray; 
    display: flex; 
    height: 80px;
    justify-content: space-between;
}

div#navbar-right {
    display: flex; 
    align-items: center;
}

div#navbar-left img{
    width: 8em;
    padding: 1.5em;
}

div#contenedor {
    background-color: black;
    padding: 40px 300px;
    justify-content:center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#contenedor > div {    
    column-width: auto; 
  }

p#fuente {
    color: white;
    width: 50%;
}

h2#fuente {
    color: white;

}

h2#numero {
    color: white;

}


div#footer {
    background-color: black;
    padding: 4em;
}

@media(width>=2500px){
    html {
        font-size: 28px;
    }
}
@media(width>=3500px){
    html {
        font-size: 32px;
    }
}