html {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}
p {
    margin-right: 35px;
    font-weight: 500;
    font-size: 13px;
}
h1 {
    margin: 0px 400px;
    text-align: center;
}
button.redondo {
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 0px 20px;
    height: 32px;
}

span.labelSumate {
    color: var(--awb-color5);
}

button#btnSumate {
    background-color: white;
    border-radius: 30px;
    padding: 9px 20px;
    line-height: 14px;
    font-size: 12px;
    border: 2px solid black ;
}

div#introduction-actions {
    display: flex;
    justify-content: center;
}

div#navbar {
    border-bottom: 1px solid gray; 
    display: flex; 
    width: 1200px;
    height: 80px;
    justify-content: space-between;
}

div#navbar-right {
    display: flex; 
    align-items: center;
}